body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
  min-height: 100vh;
}

#page{
  width: 1000px;
  margin: 0 auto;
  padding-top: 65px;

}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
  font-family: 'Mulish', sans-serif;
}

main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


ul{
  display: flex;
  list-style: none;
  gap: 48px;
  margin: 0;
  padding: 0;
  
}


ul li a:hover{
  font-weight: bold;
}

ul li a{
  text-decoration: none;
  color: #1F1534;
  opacity: 1;
}



h1, ul{
  font-family: 'Mulish', sans-serif;
}

h1{
  font-size: 49px;
  line-height: 56px;
  font-weight: normal;
  width: 490px;
  margin-bottom: 40px;
}

h1 span{
  color: #7D7987;
  font-weight: bold;
}

p{
  font-size: 14px;
  line-height: 28px;
  color: #7D7987;
  margin-bottom: 40px;
  width: 438.34px;
}

button{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  text-transform: uppercase;
  font-family:'Open Sans', sans-serif ;
  background-color:  #69B99D;
  border: 0;
  padding: 14px 32px 15px;  
  border-radius: 4px;
  cursor: pointer;
  
}

button:hover{
  background-color:  #428f74;
}

footer{
  font-size: 14px;
  line-height: 28px;
  color: black;
  text-align: center;
  margin-top: 80px;
  
}

footer a{
  text-decoration: none;
  color: black;
}

#balls{
  position: fixed;
  bottom: 0;
  right: 0;
}
